@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    /* webkit fixes... */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

body{
  font-family: 'proxima-nova-regular', 'Open Sans', Roboto, Ubuntu, sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  color:#303033;
}

a {
  color: #303033;
  text-decoration: none;
  font-weight: 600;
}

.intro {
  background: url('../images/watertown.jpg');
  background-size: cover;
  background-position: center;
  height: 900px;
  display: flex;
  flex-direction: column;
  line-height: inherit;
  justify-content: center;
}

.homegreeting, .flexFiller {
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

p.greeting {
  font-size: 60px;
  line-height: 1.5;
}

p.role {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.6px;
}

.intro a {
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  margin-bottom: 26px;
}